body {
    background-color: #312f32;
}

.btn{
   background-color: #f2e5dd;
    color: black;
    margin-top: 15px;
    padding: 10px 30px;
    margin-left: 12px;
    border-radius: 8px;
    font-size: 20px;
    
}

#uname{
    background-color:#366e45;
}
#pass{
    background-color:#00252e;
}
.form-control::-webkit-input-placeholder {
color: #FFFFFF;
}
.form-control:-moz-placeholder {
  color: #FFFFFF;
}
.form-control::-moz-placeholder {
  color: #FFFFFF;
}
.form-control::placeholder {
  color: #FFFFFF;
}
.form-control:-ms-input-placeholder {
  color: #FFFFFF;
}
body {
  font-family:'Raleway';
}
.img-fluid {
   width:100%;
}
#final {
text-align: center;
}
#btn1 {
 color:red;
 margin-top: 20px;
  margin-left: 90px;
   font-size:20px
}
#content1 {
  font-size:100px
}
#form1 {
    margin-top: 80px;
     margin-left: 90px;
}
#form2 {
    margin-top: 31px;
     margin-left: 90px;
}
#form3 {
    margin-top: 30px;
     margin-left: 90px;
}
#form4 {
    margin-top: 30px; 
    color: #f2e5dd; 
    margin-left: 90px;
     font-size: 20px;
}
.team1 {
    color: #f2e5dd;
     font-size: 20px;
}
.team2 {
    color: #f2e5dd;
     font-size: 20px;
}
.team3 {
    color: #443931; 
    font-size: 20px;
}
#cont1 {
    color: #f2e5dd;
     margin-top: 20px;
      margin-left: 90px;
       font-size:25px
}
.pull-left {
    font-size: 100px;
     margin-top: 50px; 
     color: white;
}