{% extends "layout.html" %}
{% block content %}
	<div id="set">
       <div class="container">
            <div class="middlepane">
            <form>
                <div class="container">
            <div class="toppane3" contentEditable=true placeholder="Paste Url" style="background-color: #add8e6;"></div>
                    
                    <!--mid part-->
                    <div class="toppane2">
                        <p id="in10"></p>
                         <label class="checkbox-inline" id="in3">
               		<input type="checkbox" value="" id="in4 "> Ask for intern
                </label><br>
          	<label class="checkbox-inline" id="in5">
             	<input type="checkbox" value="" id="in6"> Ask for freelancing
                 </label><br>
                        <label class="checkbox-inline" id="in7">
             	<input type="checkbox" value="" id="in8"> Ask for feedback
                 </label>
                    </div>
                     <!--End-->
                    <div class="toppane3" contentEditable=true placeholder="add discription"></div>
                    <a type="button" class="btn btn-outline-light" id="in9" >Add Blog</a>
            
</div>
                </form>
           </div>
            
</div>
       </div>
        <br><br>  
		
		
	{% endblock content %}






