<!DOCTYPE html>
<html>
<head>
{% load static %}
<title>Carvaan</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="/static/css/layout1.css" rel="stylesheet" type="text/css" media="all">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
   <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
       <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-grid.css">
		<link rel="stylesheet" type="text/css" href="/static/css/layout.css">
    
    <link href="/static/css/custom.flexslider.css" rel="stylesheet" type="text/css" media="all">
    <link href="/static/css/framework.css" rel="stylesheet" type="text/css" media="all">
    
    
</head>
<body id="top">
<nav class="navbar navbar-dark bg-dark text-light justify-content-between">
  <a class="navbar-brand" style="margin-top:20px; margin-left:30px;"> <h1> Carvaan </h1> </a>
  <div class="d-flex align-items-center">Username</div>
  <form class="form-inline">
    <button type="button" class="btn btn-outline-danger text-light my-2 my-sm-0"> Logout </button>
  </form>
</nav>

<!-- 3 Fixed Buttons -->
<br>
<center>
<div class="btn-group" role="group" aria-label="Basic example">
	<a type="button" id="btn1" href="/" class="btn btn-dark btn-lg" > Home </a>
  <a type="button" id="btn1" href="/blog/" class="btn btn-dark btn-lg " > My Blogs </a>
  <a type="button" id="btn2" href="/addblog/" class="btn btn-outline-dark btn-lg"> Add a Blogs </a>
  <a type="button" id="btn3" href="/help/" class="btn btn-outline-dark btn-lg"> Help </a>
</div>
<br><br>
</center>
    <div id="main" style="margin-top: 300px;">
	<article class="post featured">
	<header class="major">
<div class="wrapper row3">
  <div class="hoc container clear"> 
    
    <div class="posts">
      <figure class="group">
        <div> <iframe height="290px;" class="iframe" src="https://www.youtube.com/embed/b4hrUSBP4nc" frameborder="0" allowfullscreen></iframe></div>
        <figcaption>
              <div class="post-title">
                            <h5 style="font-family: fantasy;" >Title:&nbsp;&nbsp;&nbsp;&nbsp;This is a short title</h5>
                            <h5 style="font-family:serif;">Description:&nbsp;&nbsp;This is a short description</h5>
                        </div><br><br>
          
            <div class="post-info flex-row" style="color: #19343d;" >
                                <span>Likes&nbsp;&nbsp;3&nbsp;&nbsp;&nbsp;</span>
                                <span>Comments&nbsp;&nbsp;10&nbsp;&nbsp;&nbsp;</span>
                                <span>AttachFile&nbsp;&nbsp;1&nbsp;&nbsp;&nbsp;</span>
                            </div>
            <footer><a class="btn" href="#">Details &raquo;</a></footer>
         
        </figcaption>
      </figure>
      
      <figure class="group">
        <div><iframe height="290px;" class="iframe" src="https://www.youtube.com/embed/b4hrUSBP4nc" frameborder="0" allowfullscreen></iframe></div>
        <figcaption>
         <div class="post-title">
                            <h5 style="font-family: fantasy;" >Title:&nbsp;&nbsp;&nbsp;&nbsp;This is a short title</h5>
                            <h5 style="font-family:serif;">Description:&nbsp;&nbsp;This is a short description</h5>
                        </div><br><br>
          
            <div class="post-info flex-row" style="color: #19343d;" >
                                <span>Likes&nbsp;&nbsp;3&nbsp;&nbsp;&nbsp;</span>
                                <span>Comments&nbsp;&nbsp;10&nbsp;&nbsp;&nbsp;</span>
                                <span>AttachFile&nbsp;&nbsp;1&nbsp;&nbsp;&nbsp;</span>
                            </div>
            <footer><a class="btn" href="#">Details &raquo;</a></footer>
         
          
        </figcaption>
      </figure>
        <figure class="group">
        <div><iframe height="290px;" src="https://www.youtube.com/embed/b4hrUSBP4nc" frameborder="0" allowfullscreen class="iframe"></iframe></div>
        <figcaption>
          <div class="post-title">
                            <h5 style="font-family: fantasy;" >Title:&nbsp;&nbsp;&nbsp;&nbsp;This is a short title</h5>
                            <h5 style="font-family:serif;">Description:&nbsp;&nbsp;This is a short description</h5>
                        </div><br><br>
          
            <div class="post-info flex-row" style="color: #19343d;" >
                                <span>Likes&nbsp;&nbsp;3&nbsp;&nbsp;&nbsp;</span>
                                <span>Comments&nbsp;&nbsp;10&nbsp;&nbsp;&nbsp;</span>
                                <span>AttachFile&nbsp;&nbsp;1&nbsp;&nbsp;&nbsp;</span>
                            </div>
            <footer><a class="btn" href="#">Details &raquo;</a></footer>
         
        </figcaption>
      </figure>
    </div>
  </div>
</div>
        </header>
    </article>
    </div>


</body>
</html>
