<!DOCTYPE html>
<html>
<head>

{% load static %}
<title>StartupCarvaan</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

 <link href="/static/css/help.css" rel="stylesheet" type="text/css" media="all">
  <link href="/static/css/framework.css" rel="stylesheet" type="text/css" media="all">
   <link href="/static/css/help_font.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">


  <header id="header" class="hoc clear"> 
    
    <div id="logo" class="fl_left">
      <h1><a>StartupCarvaan</a></h1>
    </div>
  </header>


<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
   
    <ul class="nospace group services">
      
      <li class="one_third first">
        <article class="bgded overlay" style="background-image: url('{% static 'carvaan1.jpg' %}');">
          <div class="txtwrap"><i class="fa fa-arrow-circle-right" style="font-size:48px;color:burlywood"></i><br><br><br>
            <h6 class="heading" style="margin-left: 70px;">Help review</h6>
            <br><br><br><br>
          </div>
        </article>
      </li>
      <li class="one_third">
        <article class="bgded overlay" style="background-image: url('{% static 'carvaan1.jpg' %}');">
          <div class="txtwrap">
            <h6 class="heading">Username</h6>
              <div style="width: auto; height: auto; border: 3px solid black; border-radius: 20px;"><p>Ask for intern</p><P>Ask for freelancing</P><p>Ask for intern</p></div><br>
               <div style="width: auto; height: auto; border: 3px solid black; border-radius: 20px;">bla bla bla bla bla bla bla bla bla</div>
            <footer><a href="#">Download file</a></footer>
          </div>
        </article>
      </li>
      <li class="one_third">
        <article class="bgded overlay" style="background-image: url('{% static 'carvaan1.jpg' %}');">
          <div class="txtwrap">
            <h6 class="heading">Username</h6>
              <div style="width: auto; height: auto; border: 3px solid black; border-radius: 20px;"><p>Ask for intern</p><P>Ask for freelancing</P><p>Ask for intern</p></div><br>
               <div style="width: auto; height: auto; border: 3px solid black; border-radius: 20px;">bla bla bla bla bla bla bla bla bla</div>
            <footer><a href="#">Download file</a></footer>
          </div>
        </article>
      </li>
        <li class="one_third first">
       <article class="bgded overlay" style="background-image: url('{% static 'carvaan1.jpg' %}');">
          <div class="txtwrap">
            <h6 class="heading">Username</h6>
              <div style="width: auto; height: auto; border: 3px solid black; border-radius: 20px;"><p>Ask for intern</p><P>Ask for freelancing</P><p>Ask for intern</p></div><br>
               <div style="width: auto; height: auto; border: 3px solid black; border-radius: 20px;">bla bla bla bla bla bla bla bla bla</div>
            <footer><a href="#">Download file</a></footer>
          </div>
        </article>
      </li>
      <li class="one_third">
        <article class="bgded overlay" style="background-image: url('{% static 'carvaan1.jpg' %}');">
          <div class="txtwrap">
            <h6 class="heading">Username</h6>
              <div style="width: auto; height: auto; border: 3px solid black; border-radius: 20px;"><p>Ask for intern</p><P>Ask for freelancing</P><p>Ask for intern</p></div><br>
               <div style="width: auto; height: auto; border: 3px solid black; border-radius: 20px;">bla bla bla bla bla bla bla bla bla</div>
            <footer><a href="#">Download file</a></footer>
          </div>
        </article>
      </li>
      <li class="one_third">
        <article class="bgded overlay" style="background-image: url('{% static 'carvaan1.jpg' %}');">
          <div class="txtwrap">
            <h6 class="heading">Username</h6>
              <div style="width: auto; height: auto; border: 3px solid black; border-radius: 20px;"><p>Ask for intern</p><P>Ask for freelancing</P><p>Ask for intern</p></div><br>
               <div style="width: auto; height: auto; border: 3px solid black; border-radius: 20px;">bla bla bla bla bla bla bla bla bla</div>
            <footer><a href="#">Download file</a></footer>
          </div>
        </article>
      </li>
    </ul>
    
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>






</body>
</html>