<!DOCTYPE HTML>
<html lang="en">
<head>
	{% load static %}
	<title>{{id}}</title>
	<!-- fonts -->
	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- firebase -->
	<script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-storage.js"></script>
	<!-- bootstrap css -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
	
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-grid.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/layout.css' %}">
	
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
	<!-- js addblog -->
	<script src="{% static 'js/addblog.js' %}"></script>
	<script src="{% static 'js/index1.js' %}"></script>
	<!-- jquery online -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-dark bg-dark text-light justify-content-between">
  <a class="navbar-brand"> <h1> Carvaan </h1> </a>
  <div class="d-flex align-items-center">Username</div>
  <form class="form-inline">
    <button type="button" class="btn btn-outline-danger text-light my-2 my-sm-0"> Logout </button>
  </form>
</nav>

<!-- 3 Fixed Buttons -->
<br>
<center>
<div class="btn-group" role="group" aria-label="Basic example">
	<a type="button" id="btn1" href="/" class="btn btn-dark btn-lg" > Home </a>
  <a type="button" id="btn1" href="/blog/" class="btn btn-dark btn-lg " > My Blogs </a>
  <a type="button" id="btn2" href="/addblog/" class="btn btn-outline-dark btn-lg"> Add a Blogs </a>
  <a type="button" id="btn3" href="/help/" class="btn btn-outline-dark btn-lg"> Help </a>
</div>
<br><br>
</center>

<div id="main" style="margin-top: 300px;">
	<article class="post featured">
	<header class="major">
	{% block content %}
    	{% endblock %}
		
	</header>
</article>
	

<!-- Javascript and some files -->
<script type="text/Javascript" src="home.js"></script>
<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="{% static 'js/layout.js' %}"></script>
</body>
</html>
