<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<title>Carvaan</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

	<link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
	<script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-storage.js"></script>
	<script src="{% static 'js/index.js' %}"></script>

</head>
<body >
	
	<div class="limiter">
		<div class="container-login">
			<div class="wrap">
				<form class="login-form " action="/register/" method="POST">
					 {% csrf_token %}
					<span class="login-form-title p-b-43" style="font-size:55px; margin-top:-145px;">
						CARVAAN
					</span><br>
					
				   <div class="wrap-input" style="border: 1px solid #696969;">
						<input class="input" type="text" name="team_name" placeholder="Team Name" required/>
						
						<span class="label-input"></span>
					</div>
					
                    <div class="wrap-input" style="border: 1px solid #696969;">
                        
						<input class="input" type="email" name="pass" placeholder="Email" required/>
						
						<span class="label-input"></span>
					</div>
                    
                    <div class="wrap-input" style="border: 1px solid #696969;">
                        
						<input class="input" type="phone Number" name="phone" placeholder="Phone Number" required/>
						
						<span class="label-input"></span>
					</div>
                         <div class="select">
                <select name="slct" id="slct" required>
                      <option selected disabled required>Choose an option</option>
                     <option value="1" name="student">Student</option>
                      <option value="2" name="professional">Professional</option>
                      
                               </select>
                               </div>
					<div>
						<h3 id="co1">Attach a document explaining the idea</h3>
						<input type="file" class="btn" accept="Idea/" id="files" name="file" style="background-color: #19343d; color:white; width:470px;" required></input>
						<input type="hidden" id="url" name="geturl" accept="Idea/" style="background-color: #19343d;" required/>
						<button type="button" onclick="upload()" class="btn"  style="background-color: #19343d; color:white;">upload</button>
					</div>
					   <!-- <input type="file" class="input"></input><br> -->
					   
					<button type="submit" class="btn"  style="margin-left: 110px; color: #696969; width:300px; background-color: #19343d; color:white;">Register</button>
					
                </form>

				<div class="login-more" style="background-image: url('{% static 'bg-01.jpeg' %}');">
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>
		
